body {
    font-family: Arial, Helvetica, sans-serif;   
    background-color: white;
    font-size: 8px;
}

.topnav {
    font-size: 20px;
    float: right;
    color: black;
    padding: 5px
}

.topnav .signin {
    border: 2px solid blue;
    background-color: blue;
    color: white;
    font-size: 20px;
}

.topnav a:link {
    color: black;
    text-decoration: none
}

.topnav a:hover {
    color: black;
    text-decoration: underline;
}

.topnav a:active {
    color: black;
}

.center {
    width: 200px;
    margin: auto;
    padding-top: 50px;
    display: inline-block;
    font-size: 15px;
}

.img {
    text-align: center;
    display: block;
    padding-top: 200px;
}

input {
    padding: 5px;
    display: inline-block;
    margin-left: 856px;
}

.bottomnav {
    color: black;
    background-color: grey;
    font-size: 20px;
    margin-top: 400px;
}